/****** General ***********/

* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;

    --information-font-weight: 400;
    --title-font-weight: 700;

    --information-font-size: 16px;
    --section-font-size: 22px;
    --card-font-size: 16px;

}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin:0px; 
    padding:0px; 
    border:0px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/

/*** frame ***/

.frame {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 79px;
}

.frame__logo {
    height:19px;
    width: 61.09px;
    padding: 30px 50px 30px 0px;
}

.frame__menu {
    padding: 0px 0px 0px 50px;
    font-weight: var(--information-font-weight);
    font-size: var(--information-font-size);
    display: flex;
    gap: 68px;
}

.menu__button {
    display: block;
    padding-top: 16px;
    height: 20px;
}

.menu__button:hover {
    color: var(--main-color);
    border-top: 2px solid;
    padding-top: 14px; 
}

/*** headline ***/

.headline {
    display: flex;
    flex-direction: column;
}

.headline {
    padding-top: 30px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.headline__title {
    font-weight: var(--title-font-weight);
    font-size: var(--section-font-size);
    margin: 0px;
}

.headline__subtitle {
    font-size: var(--information-font-size);
    font-weight: var(--information-font-weight);
    margin: 0px;
}
/*** searchBar ***/

.searchBar {
    display: flex;
    border: none;
    height: 49px;
  }
  
  .searchBar__location__logo {
    width: 50px;
    border-radius: 15px 0px 0px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;
  }
  
  .fa-location-dot {
    color: black;
  }
  
  .searchBar input[type="search"] {
    font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
      font-size: 18px;
    text-align: center;
    display: inline-block;
    border: none;
    border-top: solid 1px;
    border-bottom: solid 1px;
    border-color: #F2F2F2;
  }
  
  .searchBar input[type="button"]  {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
  font-weight: 500;
  line-height: normal;
    font-size: 18px;
    background-color: #0065FC;
    color: white;
    display: flex;
    justify-content: center;
    width: 132px;
    border-radius: 0px 15px 15px 0px;
  border: none;
  }






/*** filterBar ***/

.filterBar_info {
    display: flex;
    flex-direction: row;
}





/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}